<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='hobbies.css'>
    </head>
    <body>
        <div class= "room-nav" id="room-button">
            <div id="room-nav-text">
                <h1> GO BACK TO ROOM </h1>    
            </div>
        </div>
        <div class= "main">
            <h1> What Did People Do? </h1>
            <p class= "intro"> Alone to our own devices, how did people fill the time? <br>
                Below you can learn more about what hobbies people started, activities people found peace in, and other things people
                did to keep themselves occupied. </p>
            <h3 class="intro" id="survey"> <i> According to a survey nationally conducted and based off of Google Trends observed in the peak of quarantine, these are the following rankings of activities people participated in. </i> </h3>
            <div class="national">
                <div class = "nhobby" id = "r1"> 
                    <h1> #1 </h1>
                    <div class = "stat">
                        <img src= "../../../images/movies.jpg">
                        <h2> 70% of those surveyed selected Watching TV Shows and Movies as their top hobby during quarantine.</h2>
                    </div>
                </div>
                <div class = "nhobby" id = "r2">
                    <h1> #2 </h1>
                    <div class = "stat">
                        <img src= "../../../images/reading.jpg">
                        <h2> 50% of those surveyed selected Reading as their top hobby during quarantine.</h2>
                    </div>
                </div>
                <div class = "nhobby" id = "r3">
                    <h1> #3 </h1>
                    <div class = "stat">
                        <img src= "../../../images/exercise.jpg">
                        <h2> 35% of those surveyed selected Working Out as their top hobby during quarantine.</h2>
                    </div>
                </div>
                <div class = "nhobby" id = "r4">
                    <h1> #4 </h1>
                    <div class = "stat">
                        <img src= "../../../images/artscrafts.jpg">
                        <h2> 33% of those surveyed selected Arts and Crafts as their top hobby during quarantine.</h2>
                    </div>
                </div>
                <div class = "nhobby" id = "r5">
                    <h1> #5 </h1>
                    <div class = "stat">
                        <img src= "../../../images/boardgames.jpg">
                        <h2> 33% of those surveyed selected Board Games as their top hobby during quarantine.</h2>
                    </div>
                </div>
            </div>

            <div class = "survey">
                <div id= "intro-hobby">
                    <h1> New Hobbies</h1>
                    <h3> Below are some hobbies that respondents stated they started during the pandemic, according to a survey sent out by the author.</h3>
                </div>
                <div class= "hobby-bubbles">
                    <div class = "row1"> 
                        <div class= "column">
                            <div id= "guitar"> 
                                <img src= "../../../images/guitar.png">
                                <span class= "tooltiptext"> Playing the Guitar </span>
                            </div>    
                        </div>
                        <div class= "column">
                            <div id= "painting"> <img src= "../../../images/color-palette.png">
                                <span class= "tooltiptext"> Drawing/Painting </span>
                            </div> 
                        </div>
                        <div class="column">
                            <div id= "taiko"><img src= "../../../images/taiko.png">
                                <span class= "tooltiptext"> Taiko Drumming </span>
                            </div> 
                        </div>
                    </div>
                    <div class = "row2"> 
                        <div class="column">
                            <div id= "sewing"><img src= "../../../images/sewing-machine.png">
                                <span class= "tooltiptext"> Sewing </span>
                            </div> 
                        </div>
                        <div class="column">
                            <div id= "music"><img src= "../../../images/musical-note.png">
                                <span class= "tooltiptext"> Producing Music </span>
                            </div>
                        </div> 
                        <div class= "column">
                            <div id= "gaming"><img src= "../../../images/gaming.png">
                                <span class= "tooltiptext"> Gaming </span>
                            </div> 
                        </div>
                    </div>
                    <div class = "row3"> 
                        <div id= "gardening"><img src= "../../../images/cactus.png">
                            <span class= "tooltiptext"> Gardening </span>
                        </div> 
                        <div id= "weightlifting"><img src= "../../../images/weightlifter.png">
                            <span class= "tooltiptext"> Weightlifting </span>
                        </div> 
                    </div>
                </div>
                <div class= "footer">
                    <p> 69% of people said they picked up a new hobby during quarantine. </p>
                    <p> And 66% of people said they plan on continuing to practice any hobbies picked up during quarantine. </p>
                        <h3> Information About the Survey Respondents </h3>
                        <p>
                            Out of 197 responses, 
                            <br>
                            95.14% were 18-24 years old.
                            <br>
                            66% identified as a student.
                            <br>
                            25% stated they were employed.
                            <br>
                            50% quarantined in California.
                            <br>
                        </p>
                </div>
            </div>

        </div>
        <script src= "hobbies.js"></script>
    </body>
</html>