<!doctype html>
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='digitialhabits.css'>s
    </head>
    <body>
        <div class= "room-nav" id="room-button">
            <div id="room-nav-text">
                <h1> GO BACK TO ROOM </h1>    
            </div>
        </div>

        <div class= "main">
            <div id="intro">
                <h1> How Did We Live Our Lives Online?</h1>
                <h2> The quarantine measures forced many people to adapt to a remote lifestyle -- including businesses. </h2>
                <h2> For one, Discord began to provide extra support to their services to account for the greater demand for communication outlets via the internet. </p>
                <blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">We&#39;ve increased capacity world-wide by more than 20% to ensure that you&#39;re able to text, video &amp; voice chat smoothly.<br><br>Many of you are looking to Discord to communicate with loved ones and colleagues at this time, and we will continue to monitor and scale to keep that happening. <a href="https://t.co/Db1xiq1SwQ">https://t.co/Db1xiq1SwQ</a></p>&mdash; Discord (@discord) <a href="https://twitter.com/discord/status/1239647436441661443?ref_src=twsrc%5Etfw">March 16, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <h2> And people became comfortable with platforms such as Zoom to carry on with their obligations. </h2>
                <blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">My second grader finds my teaching skills lacking so she decided to help out. T-REX ZOOM BOMB <a href="https://t.co/6Le7tqYHwG">pic.twitter.com/6Le7tqYHwG</a></p>&mdash; Pamela Herd (@pamela_herd) <a href="https://twitter.com/pamela_herd/status/1334231522002554888?ref_src=twsrc%5Etfw">December 2, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">goodnight from zoom university <a href="https://t.co/Kzk1mucnnU">pic.twitter.com/Kzk1mucnnU</a></p>&mdash; ❄️🎄Amy Petrochilly⛄️🎅🏻 (@LetAmyTry) <a href="https://twitter.com/LetAmyTry/status/1310081453259186176?ref_src=twsrc%5Etfw">September 27, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">another day at Zoom University <a href="https://t.co/Cr0L3esKFR">pic.twitter.com/Cr0L3esKFR</a></p>&mdash; jd (@http_jxd) <a href="https://twitter.com/http_jxd/status/1310971239310163968?ref_src=twsrc%5Etfw">September 29, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <h2> Artists and personalities took advantage of this greater digital presence for better or worse... </h2>
                <blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">After 2 weeks of multiple health screens and asking everyone to quarantine, I surprised my closest inner circle with a trip to a private island where we could pretend things were normal just for a brief moment in time. <a href="https://t.co/cIFP7Nv5bV">pic.twitter.com/cIFP7Nv5bV</a></p>&mdash; Kim Kardashian West (@KimKardashian) <a href="https://twitter.com/KimKardashian/status/1321151217482014726?ref_src=twsrc%5Etfw">October 27, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Thursday marked 8 months since the celeb &quot;Imagine&quot; video and I can&#39;t stop thinking about how the whole rendition starts with Gal Gadot saying &quot;day six in self-quarantine&quot; <a href="https://t.co/7b0uO7Y8L3">pic.twitter.com/7b0uO7Y8L3</a></p>&mdash; Brandon Wall (@Walldo) <a href="https://twitter.com/Walldo/status/1329660592672665600?ref_src=twsrc%5Etfw">November 20, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <h2> And some used digital platforms to find community in our shared experiences of isolation. </h2>
                <blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">i love this sweet feature on girls of isolation in ⁦⁦<a href="https://twitter.com/ELLEmagazine?ref_src=twsrc%5Etfw">@ELLEmagazine</a>⁩ 💛 <a href="https://t.co/SCYAhrzBQH">https://t.co/SCYAhrzBQH</a></p>&mdash; olivia gatwood (@oliviagatwood) <a href="https://twitter.com/oliviagatwood/status/1250488178651181056?ref_src=twsrc%5Etfw">April 15, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <div class="digital-habits">
                    <h1 id="digital-habits-title"> Our Digital Habits </h1>
                    <h3> Among the people that the author surveyed and interviewed, below you can find more information about their digital lives.</h3>
                    <br>
                    <p> Ranking of digital activities</p>
                    <ol>
                        <li>Social media</li>
                        <li>Media (podcasts/music/YouTube)</li>
                        <li>Movies/TV Shows</li>
                        <li>News</li>
                        <li>Online Shopping</li>
                    </ol>
                    <br>
                    <p> When asked about their digital tendencies, many students expressed that they were sure to be <strong> <u>conscious of their news intake.</u></strong>
                        One student stated that they purposefully joined Discord and Snapchat in order <b> <u> to connect with people during the remote school year.</u></b>
                        Many others used the Internet <b> <u> to escape from reality </u></b> by streaming and binge-watching movies and TV Shows.
                    </p>
                </div>

                <div class="footer">
                    <h3> Information About the Survey Respondents </h3>
                    <p>
                        Out of 197 responses, 
                        <br>
                        95.14% were 18-24 years old.
                        <br>
                        66% identified as a student.
                        <br>
                        25% stated they were employed.
                        <br>
                        50% quarantined in California.
                        <br>
                    </p>
                </div>

            </div>
        </div>

        <script src= "digitalhabits.js"></script>
    </body>
</html>