<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='reflection.css'>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    </head>
    <body>
        <div class= "room-nav" id="room-button">
            <div id="room-nav-text">
                <h1> GO BACK TO ROOM </h1>    
            </div>
        </div>
        <div class= "main">
            <div class="intro">
                <h1> How Did Our Self's Cope With Isolation? </h1>
                <p> A survey was sent to the author's friends of friends and families. 
                    <br>
                    Below you will find the respondent's answers to self-reflective questions about their quarantine experience.</p>
            </div>

            <div class= "rate">
                <h3> 
                    During quarantine, I would...
                </h3>
            </div>

            <div id="rate-container">
                
            </div>

            <div class= "self-thoughts">

                <h3> 
                    What did people think about their own quarantine experience?
                </h3>
                    <p>
                        Several students felt that being home felt that it "stunted their growth" and was "emotionally unhealthy" as an independent young adult.
                        Faced with the challenges of being home and learning remotely, students realized the impurities in their school's administration and the spirit of 
                        learning to be comfortable with your own company. Many viewed their hope in a post-quarantine world as delirious as they struggled
                        to keep in touch with their friends from school. Evidently, self-quarantine presented many challenges for a college-aged student at a significant time 
                        in their lives that they <i> expected </i> to be spending figuring out themselves far from the familiarity of their homes.
                    </p>
            </div>

            <div class= "letter">

                <h3> 
                    Reflecting on their quarantine lives, respondents shared a few lessons they learned...
                </h3>
                    <!-- <p> "COVID has made me more realistic and pessimistic. So I'm pretty thankful for the optimism I had during quarantine." </p> -->
                    <div class= "quote-box">
                        <div id="quote1">
                            <p> "Focus on the things you can control in front of you."</p>
                        </div>
                        <div id="quote2">
                            <p> "Go outside more!"</p>
                        </div>
                        <div id="quote3">
                            <p> "To advocate for myself more and to do more hobbies."</p>
                        </div>
                        <div id="quote4">
                            <p> "Friends are everything"</p>
                        </div>
                        <div id="quote5">
                            <p> "I realized so much of what I idolize may be achieved by discipline."</p>
                        </div>
                        <div id= "quote6">
                            <p> "Going through bad experiences and changes can be just as productive and educational
                            as going through good experiences and changes, even though it may suck."</p>
                        </div>
                    </div>
            </div>

            <div class="footer">
                <h3> Information About the Respondents </h3>
                <p>
                    Out of 197 responses, 
                    <br>
                    95.14% were 18-24 years old.
                    <br>
                    66% identified as a student.
                    <br>
                    25% stated they were employed.
                    <br>
                    50% quarantined in California.
                    <br>
                </p>
            </div>

        </div>
        <script src= "reflection.js"></script>
    </body>
</html>