<!doctype html>
<html>
    <head>
        <!-- This is the HEAD -->
        <script src="https://pixijs.download/release/pixi.js"></script>
        <link rel='stylesheet' type='text/css' href='components/Desktop/desktop.css'>
    </head>

    <body>
        <!-- This is the BODY -->
        <div class = "container">
        </div>

        <div class= "desktop-container">
            <!-- <img src= "../../images/abstract-wallpaper.jpg"> -->
            <div id="menu-bar"> </div>
            <div id="desktop-date"> Wed March 11 2020 </div> <div id="desktop-time"> </div>
            <div id = "zoom-call" class= "hidden">
                <h3> Meeting ID: X8394G </h3>    
                <h2 id="message"> Anonymous wants to video call you</h2> 
                <button id= "enter-call"> Launch Meeting </button>  
                <div id = "loader" class= "hidden"> </div>
            </div>
            <!-- <div class= "apps"> 
                <div id= "app1"> <img src="../../images/folder-icon.png"> </div>
                <div id= "app2"> <img src="../../images/folder-icon.png"> </div>
                <div id= "app3"> <img src="../../images/folder-icon.png"> </div>
            </div> -->
            <!-- <div id="dock-bar"> </div> -->
        </div>
    <div id='link-room'>
        <a href = 'https://stackoverflow.com/'> <img src="images/sprite-test.png"> </a>
    </div>
    <script type= "module" src= "components/Desktop/desktop.js" type="text/javascript"></script>
    <!-- <div class= "dock"> 
        <div id= "dock-app">

        </div>
    </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </body>

</html>

